.flex-row {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
}

.shelf-list {
  width: 200px;
}

.book-list {
  width: calc(100% - 200px);
}

.book-list-body {
  height: calc(100vh - 20px);  
}

.book-list-header {
  color: blue;
  cursor: pointer;
}

.book-list-header.a,  .book-list-header.d {
  color: red;  
}


.book-list-header.a::after{
  content: ' ^'
}

.book-list-header.d::after{
  content: ' v'
}